@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    font-family: 'Teachers';
}

button {
    width: 100%;
    margin: 0.375em auto;
    padding: 0.75em;
    border: none;
    border-radius: 0.375em;
    color: white;
    background-color: black;
    transition: 0.2s;
}

button:hover {
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
}

.close-button {
    width: auto;
    padding: 0;
    color: white;
    background: transparent;
    float: right;
}

.close-button:hover {
    color: lightgray;
    background-color: transparent;
}



.pop-up {
    width: 14em;
    height: auto;
    position: fixed;
    right: 0.75em;
    bottom: 0.75em;

    padding: 1em;

    border-radius: 0.75em;
    color: white;
    background-color: black;

    i {
        font-size: 350%;
        margin-bottom: 0.375em;
    }

    .fa-xmark {
        font-size: 200%;
        vertical-align: top;
        float: right;
    }

    p {
        padding: 1em 0;
    }
}

.pop-up p::selection {
    color: black    ;
    background-color: white;
}

.pop-up .confirm-button {
    color: black;
    background-color: white;
}

.pop-up .confirm-button:hover {
    background-color: lightgray;
}